<DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rooms Status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/roomsStatus.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Check @ FMI</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Начало</a></li>
            <li><a href="/statistics/">Статистика</a></li>
          </ul>
          {% if user.is_authenticated %}
            <p class="welcome-message pull-right hidden-phone">
                        <i class="icon-user icon-white"></i>
                        Welcome,
                        <strong><a href="/profile/">{{ user.username }}</a></strong>.
            </p>
            <div id="user-tools" class="pull-right">
                            <div class="btn-group pull-right">
                                <a href="/admin/auth/user/1/" class="btn btn-primary">
                                <i class="icon white user"></i>
                                 @{{ user.username }}
                                </a>
                                <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                  <li>
                                          <a href="/admin/password_change/">
                                              <i class="icon-pencil"></i>
                                              Change password
                                          </a>
                                      </li>
                                  
                                  <li>
                                      <a href="/admin/logout/">
                                          <i class="icon-off"></i>
                                          Log out</a>
                                  </li>
                                </ul>
                            </div>
                        </div>
          {% else %}
            <form class="navbar-form navbar-right" method="post">
              {% csrf_token %}
              <div class="form-group">
                <input name="username" type="text" placeholder="Email" class="form-control">
              </div>
              <div class="form-group">
                <input name="password" type="password" placeholder="Password" class="form-control">
              </div>
              <input type="hidden" name="next" value="/" />
              <button type="submit" value="login" class="btn btn-success">Sign in</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="container">
    {% block content %}{% endblock %}
    </div>
  </body>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="http://cdn.kendostatic.com/2012.2.710/js/kendo.all.min.js"></script>
  {% block scripts %}{% endblock %}
</html>
 
