<DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rooms Status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="static/bootstrap.min.css" rel="stylesheet">
    <link href="static/roomsStatus.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Check @ FMI</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Начало</a></li>
              <li class="active"><a href="stats/">Статистика</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

     {% for place in places %}
        <h2>Посещаемост в {{ place.0.name }}</h2>
        <!-- 30% progress-info  60% progress-warning 85% progress-danger -->
        <div class="progress progress-striped active">
            <div id="active-people">
                <strong>{{ place.2 }} Човека / {{ place.1 }} max</strong>
            </div>
            <div class="bar info" style="width: {% widthratio place.2 place.1 100 %}%;"></div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Име:</th>
                    <th>Фамилия:</th>
                    <th>Седи от:</th>
                </tr>
            </thead>
            <tbody>
                {% for user in place.3 %} 
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.0 }}</td>
                    <td>{{ user.0 }}</td>
                    <td>{% if user.1.0 != 0 %}{{ user.1.0 }} часа, {% endif %}{% if user.1.1 != 0 %}{{ user.1.1 }} минути, {% endif %}{{ user.1.2 }} секунди</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
    </div>
  </body>
</html>
 
