<DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="static/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->


  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Check @ FMI</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Начало</a></li>
              <li class="active"><a href="stats/">Статистика</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

     {% for place in places %}
        <h2>Посещаемост в зала {{ place.0.name }}</h2>
        <div class="progress progress-striped active">
            <!-- 30% progress-info  60% progress-warning 85% progress-danger -->
            <div class="bar info" style="width: {% widthratio place.2 place.1 100 %}%; postion:absolute"></div>
            <div style="position:absolute; margin:auto;">
                <strong>{{ place.2 }} Човека / {{ place.1 }} max</strong>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Име:</th>
                    <th>Фамилия:</th>
                    <th>Седи от:</th>	
                </tr>
            </thead>
            <tbody>
                {% for user in place.3 %} 
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.0 }}</td>
                    <td>{{ user.0 }}</td>
                    <td>{% if user.1.0 != 0 %}{{ user.1.0 }} часа, {% endif %}{% if user.1.1 != 0 %}{{ user.1.1 }} минути, {% endif %}{{ user.1.2 }} секунди</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
 
