{% extends "base.html" %}
	
	{%  block content %}

	<div class="chart-wrapper" style="width: 50%; float: left;">
		<div id="chartSpecialty"></div>
	</div>

	<div class="chart-wrapper" style="width: 50%; float: right;">
		<div id="chartYear"></div>
    </div>
    
    <div class="chart-wrapper">
        <div id="daily-chart"></div>
    </div>

    <div class="chart-wrapper">
        <div id="weekly-chart"></div>
    </div>

    <div class="chart-wrapper">
        <div id="monthly-chart"></div>
    </div>

	{% endblock %}
  	
  	{% block scripts %}
	<script>
		var today = new Date();
		function createDailyChart() {
		    $("#daily-chart").kendoChart({
		        title: {
		            text: "Посещаемост за днес"
		        },
		        legend: {
		            position: "bottom"
		        },
		        chartArea: {
		            background: ""
		        },
		        seriesDefaults: {
		            type: "line"
		        },
		        series: [{
		            name: "Посещаемост за деня",
		            data: {{ place_checkins.0.hourly_checkins }},
		                color: "#37A9E3"

		        }],
		        valueAxis: {
		            labels: {
		                format: "{0}"
		            },
		            line: {
		                visible: false
		            },
		            axisCrossingValue: -10
		        },
		        categoryAxis: {
		            categories: ['0h', "1h", "2h", "3h", "4h", "5h", "6h", "7h", "8h", "9h", "10h", "11h", "12h", "13h", "14h", "15h", "16h", "17h", "18h", "19h", "20h", "21h", "22h", "23h"],
		            majorGridLines: {
		                visible: false,
		            }
		        },
		        tooltip: {
		            visible: true,
		            format: "{0}%",
		            template: "#= series.name #: #= value #"
		        }
		    });
		}

		function weeklyChart() {
			var weekDays = ["Понеделник","Вторник","Сряда","Червъртък","Петък","Събота","Неделя"];
			var sevenDaysAgo = [].concat(weekDays.slice(today.getDay()), weekDays.slice(0, today.getDay()));
		    $("#weekly-chart").kendoChart({
		        title: {
		            text: "Посещаемост за седмицата"
		        },
		        legend: {
		            position: "bottom"
		        },
		        chartArea: {
		            background: ""
		        },
		        seriesDefaults: {
		            type: "line"
		        },
		        series: [{
		            name: "Посещаемост за седмицата",
		            data: {{ place_checkins.0.daily_checkins }},
		                color: "#38CD49"

		        }],
		        valueAxis: {
		            labels: {
		                format: "{0}"
		            },
		            line: {
		                visible: false
		            },
		            axisCrossingValue: -10
		        },
		        categoryAxis: {
		            categories: sevenDaysAgo,
		            majorGridLines: {
		                visible: false,
		            }
		        },
		        tooltip: {
		            visible: true,
		            format: "{0}%",
		            template: "#= series.name #: #= value #"
		        }
		    });
		}

		function monthlyChart() {
			var months = ["Януари", "Февруари", "Март", "Април", "Май", "Юни", "Юли", "Август", "Септември", "Октомври", "Ноември", "Декември"];
			var last12Months = [].concat(months.slice(today.getMonth() + 1), months.slice(0, today.getMonth() + 1));
			console.log(last12Months);
		    $("#monthly-chart").kendoChart({
		        title: {
		            text: "Посещаемост по месеци"
		        },
		        legend: {
		            position: "bottom"
		        },
		        chartArea: {
		            background: ""
		        },
		        seriesDefaults: {
		            type: "line"
		        },
		        series: [{
		            name: "Посещаемост по месеци",
		            data: {{ place_checkins.0.monthly_checkins }},
		                color: "#FE864E"

		        }],
		        valueAxis: {
		            labels: {
		                format: "{0}"
		            },
		            line: {
		                visible: false
		            },
		            axisCrossingValue: -10
		        },
		        categoryAxis: {
		            categories: last12Months,
		            majorGridLines: {
		                visible: false,
		            }
		        },
		        tooltip: {
		            visible: true,
		            format: "{0}%",
		            template: "#= series.name #: #= value #"
		        }
		    });
		}

        function createPieSpecialty() {
            $("#chartSpecialty").kendoChart({
            	theme: "silver",
                title: {
                    position: "bottom",
                    text: "Посещаемост по специалности"
                },
                legend: {
                    visible: false
                },
                chartArea: {
                    background: ""
                },
                seriesDefaults: {
                    labels: {
                        visible: true,
                        background: "transparent",
                        template: "#= category #: #= value#%"
                    }
                },
                series: [{
                    type: "pie",
                    startAngle: 150,
                    data: [{
                        category: "Информатика",
                        value: 53.8,
                    },{
                        category: "Математика и информатика",
                        value: 16.1,
                    },{
                        category: "Статистика",
                        value: 11.3,
                    }]
                }],
                tooltip: {
                    visible: true,
                    format: "{0}%"
                }
            });
        }

        function createPieYear() {
            $("#chartYear").kendoChart({
            	theme: "silver",
                title: {
                    position: "bottom",
                    text: "Посещаемост по курсове"
                },
                legend: {
                    visible: false
                },
                chartArea: {
                    background: ""
                },
                seriesDefaults: {
                    labels: {
                        visible: true,
                        background: "transparent",
                        template: "#= category #: #= value#%"
                    }
                },
                series: [{
                    type: "pie",
                    startAngle: 150,
                    data: [{
                        category: "Информатика",
                        value: 53.8,
                    },{
                        category: "Математика и информатика",
                        value: 16.1,
                    },{
                        category: "Статистика",
                        value: 11.3,
                    },{
                        category: "Статистика",
                        value: 11.3,
                    },{
                        category: "Статистика",
                        value: 11.3,
                    }]
                }],
                tooltip: {
                    visible: true,
                    format: "{0}%"
                }
            });
        }

        $(document).ready(createPieSpecialty);
        $(document).bind("kendo:skinChange", createPieSpecialty);

        $(document).ready(createPieYear);
        $(document).bind("kendo:skinChange", createPieYear);

		$(document).ready(createDailyChart);
		$(document).bind("kendo:skinChange", createDailyChart);

		$(document).ready(weeklyChart);
		$(document).bind("kendo:skinChange", weeklyChart);

		$(document).ready(monthlyChart);
		$(document).bind("kendo:skinChange", monthlyChart);

	</script>
  {% endblock %}