{% extends "base.html" %}


{% block nav-reader %}<a href="{% url 'books_to_return' %}" class="active">Читателски Картон</a>{% endblock %}

{% block content %}
    <h2>Заети книги: </h2>
    <div class="row">
    {% for borrow in borrows %}

        {% with book=borrow.borrowed_item %}
        <div class="col-md-3">
            <p style="text-align: center; font-size: 140%;">
                <a href="{% url 'show_book' 1 %}">{{ book.title }}</a>
            </p>
            <img src="{{ MEDIA_URL }}{{ book.cover }}" style="width: 100%" class="img-thumbnail">
            <div style="text-align: center;">
            {% if borrow.return_time > now%}
                <strong>Върни до: {{ borrow.return_time|date:"d.m.Y" }}</strong>
            {% else %}
                <strong style="color: red" >Върни до: {{ borrow.return_time|date:"d.m.Y" }}</strong>
            {% endif %}
            </div>
        </div>
        {% endwith %}
    {% endfor %}

    {% if not borrows %}
        <div class="alert alert-warning" role="alert">
            Няма книги, които трябва да върнете!
        </div>
    {% endif %}
    </div>
{% endblock %}
