{% extends "base.html" %}

{% block nav-stat %}<a href="/statistics/" class="active">Статистика</a>{% endblock %}

{% block content %}
<h3>Най-взимани книги:</h3>
  <table class="table">
      <thead>
          <tr>
            <th>Заглавие</th>
            <th>Издателство</th>
            <th>Категория</th>
            <th>Издадена</th>
          </tr>
        </thead>
        <tbody>
            <tr>
				<td><a>PHP & MySQL - практическо програмиране</a></td>
                <td>Асеневци</td>
                <td>IT технологии</td>
                <td>2014-03-14</td>
            </tr>
            <tr>
                <td><a>C# за напреднали</a></td>
                <td>Асеневци</td>
                <td>IT технологии</td>
                <td>2011-02-11</td>
            </tr>
            <tr>
                <td><a>MySQL бази от данни</a></td>
                <td>Соломон</td>
                <td>IT технологии</td>
                <td>2012-02-12</td>
            </tr>
            <tr>
                <td><a>Технически анализ</a></td>
                <td>Актив Плюс</td>
                <td>Висша математика</td>
                <td>2000-01-01</td>
            </tr>
        </tbody>
  </table>

  <h3>Най-активни читатели:</h3>
  <table class="table">
      <thead>
          <tr>
            <th>Име</th>
            <th>Специалност</th>
            <th>Брой прочетени книги</th>
          </tr>
        </thead>
        <tbody>
			<tr>
				<td><a>Огнян Ангелов</a></td>
                <td>Информатика</td>
                <td>20</td>
            </tr>
            <tr>
                <td><a>Ивайло Бъчваров</a></td>
                <td>Информатика</td>
                <td>20</td>
            </tr>
            <tr>
                <td><a>Даяна Маринова</a></td>
                <td>Информационни системи</td>
                <td>17</td>
            </tr>
            <tr>
                <td><a>Бочн Дончев</a></td>
                <td>Компютърни науки</td>
                <td>15</td>
            </tr>
        </tbody>
  </table>
{% endblock %}
