{% extends "base.html" %}


{% block content %}
<h3>Най-взимани книги:</h3>
  <table class="table">
      <thead>
          <tr>
            <th>Заглавие</th>
            <th>Издателство</th>
            <th>Категория</th>
            <th>Издадена</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>PHP & MySQL - практическо програмиране</td>
                <td>Асеневци</td>
                <td>IT технологии</td>
                <td>14-03-2014 г.</td>
            </tr>
            <tr>
                <td>C# за напреднали</td>
                <td>Асеневци</td>
                <td>IT технологии</td>
                <td>12-02-2011 г.</td>
            </tr>
            <tr>
                <td>MySQL бази от данни</td>
                <td>Соломон</td>
                <td>IT технологии</td>
                <td>12-02-2012 г.</td>
            </tr>
            <tr>
                <td>Технически анализ</td>
                <td>Актив Плюс</td>
                <td>Висша математика</td>
                <td>12-02-2000 г.</td>
            </tr>
        </tbody>
  </table>

  <h3>Най-активни читатели:</h3>
  <table class="table">
      <thead>
          <tr>
            <th>Име</th>
            <th>Специалност</th>
            <th>Брой прочетени книги</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ивайло Бъчваров</td>
                <td>Информатика</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Огнян Ангелов</td>
                <td>Информатика</td>
                <td>18</td>                
            </tr>
            <tr>
                <td>Даяна Маринова</td>
                <td>Информационни системи</td>
                <td>17</td>
            </tr>
            <tr>
                <td>Бочн Дончев</td>
                <td>Компютърни науки</td>
                <td>15</td>
            </tr>
        </tbody>
  </table>
{% endblock %}
