{% extends "base.html" %}

{% block nav-lib %}<a href="/library/" class="active">Библиотека</a>{% endblock %}

{% block content %}
<form class="form-horizontal" role="form" method="GET">
    <div class="row">
      <div class="control-group col-md-12">
        <label class="control-label" >Търсене:</label>
          <div>
                <input type="text" class="form-control" name="search" value="{{ form.search.value|default:'' }}" placeholder="Име, Автор, Издателство">
          </div>
      </div>
    </div>
    <div class="row">
      <div class="control-group col-md-6">
          <label class="control-label">От година:</label>
          <input name="from_year" type="number" class="form-control" value="{{ form.from_year.value|default:'' }}" placeholder="2000"/>
      </div>
      <div class="control-group col-md-6">
        <label class="control-label">До година:</label>
          <input name="to_year" type="number" class="form-control" value="{{ form.to_year.value|default:'' }}" placeholder="2014"/>
      </div>
    </div>

    <div align="center">
      <button class="btn btn-primary btn-lg" style="margin-top: 20px; margin-bottom: 20px;">Търси</button>
    </div>
</form>

{% if books %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Заглавие</th>
      <th>Автор</th>
      <th>Издателство</th>
      <th>Година</th>
      <th>Наличност</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'show_book' book.id %}">{{ book.title }}</a></td>
        <td>{{ book.author }}</td>
        <td>{{ book.publisher }}</td>
        <td>{{ book.year }}</td>
        <td>
            {% if book.is_available %}
              Свободна
            {% else %}
              Заета
            {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
