{% extends "base.html" %}

{% block nav-lib %}<a href="/library/" class="active">Библиотека</a>{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-9">
        <h2>{{ book.title}}</h2>
    </div>
    <div class="col-md-4">
        {% if book.cover %}
            <img src="{{ MEDIA_URL }}{{ book.cover }}" class="img-thumbnail" >
        {% else %}
            <img src="{{ STATIC_URL }}images/nocover.jpg" class="img-thumbnail" >
        {% endif %}

        {% if not book_borrowed %}
            <div class="alert alert-warning lend-info" role="alert">
                Заявлението за книга ще те нареди на опашка чакащи. Когато дойде твоя ред ще бъдеш уведомен с имейл.
            </div>

            {% if lend_requests|length > 0 %}
                <button class="btn btn-primary" id="land" data-should-cancel="yes" data-book-id="{{ book.id }}">Отмени заявката</button>
            {% else %}
                <button class="btn btn-primary" id="land" data-should-cancel="no" data-book-id="{{ book.id }}">Заявка за заемане</button>
            {% endif %}
            <div id="lend-request-error" class="text-danger"></div>
        {% endif %}

    </div>
    <div class="col-md-8">
        <table class="table table-bordered">
          <tbody>
            <tr>
                <td>Автор</td>
                <td>{{ book.author }}</td>
            <tr>
                <td>Издателство</td>
                <td>{{ book.publisher }}</td>
            </tr>
            {% if book.year %}
                <tr>
                    <td>Година</td>
                    <td>{{ book.year }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>Категория</td>
                <td>{{ book.category }}</td>
            </tr>
            {% if book.isbn %}
                <tr>
                    <td>ISBN</td>
                    <td>{{ book.isbn }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>Налични копия</td>
                <td>{{ book.available_count }}</td>
            </tr>
            <tr>
                <td>Език</td>
                <td>{{ book.language }}</td>
            </tr>
            
          </tbody>
        </table>

        <h2>Заели в момента:</h2>
        <table class="table table-striped">
            <tr>
                <td>Име</td>
                <td>Заел от дата</td>
                <td>Заел до дата</td>
            </tr>
            {% for borrower in current_borrowers %}
                <tr>
                    <td>{{ borrower.borrower.user.get_full_name }}</td>
                    <td>{{ borrower.borrow.time|date:"d-m-Y" }}</td>
                    <td>{{ borrower.give_back_time|date:"d-m-Y" }}</td>
                </tr>
            {% endfor %}
        </table>
        <h2>Чакащи на опашка:</h2>
        <table class="table table-striped">
            <tr>
                <td>Име</td>
                <td>Заявил на дата</td>
            </tr>
            <tr>
                <td><a>Ивайло Бачваров</a></td>
                <td>2014-10-25</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
