{% extends "base.html" %}

{% block nav-lib %}<a href="/library/" class="active">Библиотека</a>{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-9">
        <h2>{{ book.title}}</h2>
    </div>
    <div class="col-md-4">
        <img src="{{ MEDIA_URL }}{{ book.cover }}" class="img-thumbnail" >

        {% if not book_borrowed %}
            <div class="alert alert-warning lend-info" role="alert">
                Заявлението за книга ще те нареди на опашка чакащи. Когато дойде твоя ред ще бъдеш уведомен с имейл.
            </div>

            {% if book_lended %}
                <button class="btn btn-primary" id="land" data-cancel="true" data-book-id="{{ book.id }}">Отмени заявката</button>
            {% else %}
                <button class="btn btn-primary" id="land" data-book-id="{{ book.id }}">Заявка за заемане</button>
            {% endif %}
        {% endif %} 

    </div>
    <div class="col-md-8">
        <table class="table table-bordered">
          <tbody>
            <tr>
                <td>Автор</td>
                <td>{{ book.author }}</td>
            <tr>
            <tr>
                <td>Автор</td>
                <td>{{ book.author }}</td>
            <tr>
                <td>Издателство</td>
                <td>{{ book.publisher }}</td>
            </tr>

            <tr>
                <td>Година</td>
                <td>{{ book.year }}</td>
            </tr>
            <tr>
                <td>Категория</td>
                <td>{{ book.category }}</td>
            </tr>
            <tr>
                <td>ISBN</td>
                <td>{{ book.isbn }}</td>
            </tr>
            <tr>
                <td>Налични копия</td>
                <td>0 / 1</td> <!-- TODO: implement logic -->
            </tr>
          </tbody>
        </table>

        <!--TODO-->
        <h2>Заели в момента:</h2>
        <table class="table table-striped">
            <tr>
                <td>Име</td>
                <td>Заел от дата</td>
                <td>Заел до дата</td>
            </tr>
            <tr>
                <td><a>Огнян Ангелов</a></td>
                <td>2014-10-20</td>
                <td>2014-10-30</td>
            </tr>
        </table>
        <h2>Чакащи на опашка:</h2>
        <table class="table table-striped">
            <tr>
                <td>Име</td>
                <td>Заявил на дата</td>
            </tr>
            <tr>
                <td><a>Ивайло Бачваров</a></td>
                <td>2014-10-25</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
