html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

body {
    padding-top: 60px;
    background: url(/static/images/site_bg.png);
}

#active-people {
    margin: auto;
    text-align: center;
    margin-top: -40px;
    font-weight: bold;
    margin-bottom: 40px;
}

.progress{
    height: 25px;
}

.chart-wrapper {
    float: left;
}

.table {
    background: #F5F5F5;
}

#attendance-table {
    border-radius: 5px;
    z-index: 5;
}

#flake{
    z-index: 2;
}

#christmas-panda {
    height: 78px;
    position: absolute;
    left: 85%;
    top: 53px;
    z-index: 1;
}

#easter-bunny {
    height: 120px;
    position: absolute;
    left: 85%;
    top: 27px;
    z-index: 10000;
}

.lend-request {
    margin-top: 20px;
}

.lend-info {
    margin-top: 35px;
}

#site-footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background: #F5F5F5;
    padding: 5px;
    text-align: center;
}
