html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

body {
	padding-top: 60px;
	background: url(http://cdn.osxdaily.com/wp-content/uploads/2011/10/NSLinenBackgroundPattern.png);
	//min-height: 1024px;
}

#active-people {
	margin: auto;
	text-align: center;
	margin-top: -43px;
	font-weight: bold;
	margin-bottom: 40px;
}

.progress{
	height: 25px;
}

.chart-wrapper {
	float: left;
}

table {
	background: rgb(245, 245, 245);
}

#attendance-table {
	border-radius: 5px;
	z-index: 5;
}

#flake{
	z-index: 2;
}

.navbar a {
	color: #fff !important;
}

.navbar a:hover {
	color: #5E9CD2 !important;
}

#christmas_panda {
    height: 100px;
    float: right;
    margin-left: -15px;
    //position: absolute;
    //right: 90;
    //top: 90;
    
}
